.subscribe__rectangle {
  background: rgba(139, 178, 189, 0.4);
  border-radius: 100px;
  margin: 186px 65px 0px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

@media screen and (max-width: 600px) {
  .subscribe__rectangle {
    margin: 100px 20px;
  }
}
