@import url(../vendors/fonts/Avenir-font.css);

.page {
  font-family: 'Avenir', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: -100px;
}

.logo {
  display: block;
  margin-left: 16px;
}

.nav {
  position: relative;
  margin-top: 8px;
  margin-right: 65px;
}

.nav__container {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

.nav__mobile-button {
  display: none;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 5px;
}

.nav__icon {
  width: 30px;
  height: 2px;
  background: #333;
  display: inline-block;
  position: relative;
}

.nav__icon::before {
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  width: 30px;
  height: 2px;
  background: #333;
  display: inline-block;
}

.nav__icon::after {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 30px;
  height: 2px;
  background: #333;
  display: inline-block;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: block;
  font-size: 24px;
  line-height: 1.3;
  border-bottom: 3px dashed transparent;
}

.nav__link:hover {
  border-bottom: 3px dashed #40a6a9;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .nav {
    position: absolute;
    top: 10px;
    right: 0;
    height: 50vh;
    max-width: 100%;
    width: 350px;
    overflow: hidden;
  }

  .nav__mobile-button {
    display: inline-block;
    cursor: pointer;
    right: 20px;
  }

  .nav__container {
    background-color: #ccc;
    display: flex;
    opacity: 0;
    visibility: hidden;
    width: 75%;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: -250px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .nav__item {
    margin: 0;
    padding: 10px;
  }

  .nav_opened {
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
}

.lead {
  background: #ebebeb;
  background: url(../images/lead_bg.jpg) bottom left;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.lead__content {
  margin: 219px;
  margin-right: 65px;
}

.lead__title {
  max-width: 421px;
  font-size: 48px;
  line-height: 1.35;
  font-weight: 400;
  margin: 0;
}

.lead__subtitle {
  max-width: 421px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  margin: 57px 0 16px;
}

.button {
  cursor: pointer;
  background: #40a6a9;
  color: #fff;
  width: 222px;
  height: 54px;
  border: none;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  color: #1c5d5f;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.subscription-kits {
  background-color: cornflowerblue;
  height: 100vh;
}

.projects {
  background-color: tan;
  height: 100vh;
}

.free-downloads {
  background-color: chartreuse;
  height: 100vh;
}

.about-us {
  background-color: aquamarine;
  height: 100vh;
}
