@import url(../vendors/fonts/Avenir-font.css);

.page {
  font-family: 'Avenir', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #e5e5e5;
}

.page__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: -100px;
}

.logo {
  margin-left: 16px;
}

.logo_footer {
  margin: 0;
  width: 240px;
}

.nav {
  position: relative;
  margin-top: 8px;
  margin-right: 65px;
}

.nav__container {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

.nav__mobile-button {
  display: none;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 5px;
}

.nav__icon {
  width: 30px;
  height: 5px;
  background: #e87c8e;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.nav__icon::before {
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  width: 30px;
  height: 5px;
  background: #e87c8e;
  display: inline-block;
  border-radius: 20px;
}

.nav__icon::after {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 30px;
  height: 5px;
  background: #e87c8e;
  display: inline-block;
  border-radius: 20px;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  font-size: 24px;
  line-height: 1.3;
  border-bottom: 3px dashed transparent;
}

.nav__link:hover {
  border-bottom: 3px dashed #40a6a9;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.nav__link_type_subscribe {
  color: #fff;
  background: #e87c8e;
  border-radius: 50px;
  padding: 10px 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.nav__link_type_subscribe:hover {
  border-color: #e87c8e;
  transition: all 0.2s ease-in-out;
  color: #5f383f;
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.lead {
  background: #ebebeb;
  background: url(../images/lead_bg.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.lead__container {
  margin-top: 219px;
  margin-right: 65px;
}

.lead__title {
  max-width: 421px;
  font-size: 48px;
  line-height: 1.35;
  font-weight: 400;
  margin: 0;
}

.lead__subtitle {
  max-width: 421px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  margin: 57px 0 16px;
}

.button {
  cursor: pointer;
  background: #40a6a9;
  color: #fff;
  width: 222px;
  height: 54px;
  border: none;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  color: #1c5d5f;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.section__title {
  max-width: 650px;
  font-size: 48px;
  line-height: 1.37;
  padding-bottom: 12px;
  margin: 0 auto;
}

.section__subtitle {
  font-size: 24px;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 600px;
}

.subscribe {
  text-align: center;
}

.subscribe__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  margin: 0 auto 10px;
  max-width: 1022px;
  text-align: center;
}

.subscribe__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  margin: 0 auto 80px;
  max-width: 1022px;
  text-align: center;
}

.subscribe__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 50px auto 0;
  justify-content: center;
  column-gap: 55px;
  padding: 0;
}

.age {
  border-radius: 100px;
  background-color: #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 54px;
}

.age__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  justify-self: flex-start;
  margin-top: 60px;
  margin-bottom: 10px;
}

.age__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  max-width: 300px;
  margin: 0;
  margin-bottom: 35px;
  text-align: left;
}

.age__img-btn {
  display: flex;
  margin: auto auto 24px;
  padding: 0;
}

.age__image {
  max-height: 200px;
  /* width: 200px; */
  margin-top: 18px;
  margin-right: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.button_age {
  width: 120px;
  height: 56px;
  color: black;
}

.subscribe__rectangle {
  background: rgba(139, 178, 189, 0.4);
  border-radius: 100px;
  margin: 186px 65px 0px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.subscribe__rectangle__text {
  padding: 70px 0;
  font-size: 24px;
  line-height: 33px;
  max-width: 932px;
}

.kits {
  text-align: center;
  margin-bottom: 100px;
}

.kits__card-container {
  list-style: none;
  display: flex;
  margin: 50px 0 0;
  padding: 0;
}

.kits__card {
  width: 25%;
  padding-top: 50px;
  padding-bottom: 36px;
}

.kits__card-image {
  height: 120px;
}

.kits__card_type-science {
  background: #40a6a9;
}
.kits__card_type-art {
  background: #dfcd8d;
}
.kits__card_type-nature {
  background: #e87c8e;
}
.kits__card_type-surprise {
  background: #eba671;
}

.kits__card-title {
  font-size: 48px;
  line-height: 1.35;
  margin: 30px 0 22px;
}

.kits__card-description {
  margin: 0 36px;
  font-size: 24px;
  line-height: 1.3;
  text-align: left;
}

.kits__card-divider {
  border-bottom: 3px dashed white;
  width: 80%;
  margin: 20px auto;
}

.kits__card-contents_title {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1.3;
}

.kits__card-contents_list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0 36px 20px;
}

.kits__card-contents_list-item {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 5px;
}

.button_pink {
  background: #e87c8e;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
}

.button_pink:hover {
  color: #be6473;
}

.freebies {
  text-align: center;
  margin-bottom: 100px;
}

.freebie__container {
  background: #bfbfbf;
  margin: 76px 65px 0 65px;
  padding: 78px 0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.freebie__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.freebie__item {
  min-width: 25%;
}

.freebie__image {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.freebie__caption {
  font-size: 24px;
  line-height: 1.3;
}

.footer {
  background-color: #b6cdd3;
  padding: 0 65px 85px;
}

.footer__columns {
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 16px 0 50px;
}

.footer__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
}

.footer__column-heading {
  margin: 0 0 22px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

.footer__column-link {
  font-size: 24px;
  line-height: 33px;
  padding: 0;
  color: black;
  font-weight: normal;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: ease-out 3s;
}

.footer__social-icons {
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  font-weight: normal;
}

@media screen and (max-width: 1440px) {
  .subscribe__list {
    column-gap: 30px;
    row-gap: 25px;
  }
}

@media screen and (max-width: 1280px) {
  .subscribe__list {
    column-gap: 30px;
    row-gap: 25px;
  }
  .age {
    padding-left: 0px;
    align-items: center;
  }
  .age__image {
    height: 75%;
    margin-right: 0;
  }

  .age__img-btn {
    margin: 0;
    margin-top: auto;
  }
}

@media screen and (max-width: 1024px) {
  .subscribe__list {
    column-gap: 20px;
  }

  .subscribe__rectangle__text {
    max-width: 700px;
  }

  .nav {
    position: absolute;
    top: 30px;
    right: 0;
    height: 50vh;
    max-width: 100%;
    width: 350px;
    overflow: hidden;
    margin: 0;
  }

  .nav__mobile-button {
    display: inline-block;
    cursor: pointer;
    right: 20px;
  }

  .nav__container {
    background-color: #fff;
    border-radius: 50px 0 0 50px;
    padding: 20px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    width: 75%;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: -250px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
  }
  .nav__item {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .nav_opened {
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .lead {
    background-position: top right;
  }

  .kits__card-container {
    flex-wrap: wrap;
  }

  .kits__card {
    width: 50%;
  }

  .freebie__container {
    margin: 76px 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .freebie__item {
    width: 50%;
  }

  .subscribe__rectangle {
    margin: 100px 20px;
  }

  .subscribe__rectangle__text {
    padding: 0;
    max-width: 400px;
  }

  .lead {
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  .lead__container {
    margin: 0;
  }

  .age {
    width: 80%;
    align-items: left;
  }
  .age__image {
    margin-right: 0;
  }

  .age__img-btn {
    column-gap: 30px;
    justify-content: space-between;
  }

  .kits__card {
    width: 100%;
  }

  .button_pink {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .freebie__item {
    width: 100%;
  }
  .freebie__image {
    width: 80%;
  }

  .subscribe__rectangle__text {
    padding: 0;
    max-width: 320px;
  }

  .logo {
    height: 50px;
  }

  .lead__container {
    margin: 0 20px;
  }

  .lead__subtitle {
    margin-top: 10px;
  }

  .button {
    width: 100%;
  }
  .button_pink {
    width: 75%;
  }
}
