@import url(../vendors/fonts/Avenir-font.css);
@import url(../blocks/playful/playful.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_footer/logo_footer.css);
@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__container/nav__container.css);
@import url(../blocks/nav/__mobile-button/nav__mobile-button.css);
@import url(../blocks/nav/_opened/nav_opened.css);
@import url(../blocks/nav/__icon/nav__icon.css);
@import url(../blocks/nav/__item/nav__item.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/nav/__link/_type/nav__link_type_subscribe.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__container/lead__container.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_lead/button_lead.css);
@import url(../blocks/section/__title/section__title.css);
@import url(../blocks/section/__subtitle/section__subtitle.css);
@import url(../blocks/subscribe/subscribe.css);
@import url(../blocks/subscribe/__list/subscribe__list.css);
@import url(../blocks/age/age.css);
@import url(../blocks/age/__title/age__title.css);
@import url(../blocks/age/__text/age__text.css);
@import url(../blocks/age/__img-btn/age__img-btn.css);
@import url(../blocks/age/__image/age__image.css);
@import url(../blocks/button/_age/button_age.css);
@import url(../blocks/subscribe/__rectangle/subscribe__rectangle.css);
@import url(../blocks/subscribe/__rectangle-text/subscribe__rectangle-text.css);
@import url(../blocks/kits/kits.css);
@import url(../blocks/kits/__card-container/kits__card-container.css);
@import url(../blocks/kits/__card/kits__card.css);
@import url(../blocks/kits/__card-image/kits__card-image.css);
@import url(../blocks/kits/__card/_type-science/kits__card_type-science.css);
@import url(../blocks/kits/__card/_type-art/kits__card_type-art.css);
@import url(../blocks/kits/__card/_type-nature/kits__card_type-nature.css);
@import url(../blocks/kits/__card/_type-surprise/kits__card_type-surprise.css);
@import url(../blocks/kits/__card-title/kits__card-title.css);
@import url(../blocks/kits/__card-description/kits__card-description.css);
@import url(../blocks/kits/__card-divider/kits__card-divider.css);
@import url(../blocks/kits/__card-contents/kits__card-contents.css);
@import url(../blocks/kits/__card-contents/_title/kits__card-contents_title.css);
@import url(../blocks/kits/__card-contents/_list/kits__card-contents_list.css);
@import url(../blocks/kits/__card-contents/_list-item/kits__card-contents_list-item.css);
@import url(../blocks/button/_pink/button_pink.css);
@import url(../blocks/freebies/freebies.css);
@import url(../blocks/freebie/__container/freebie__container.css);
@import url(../blocks/freebie/__list/freebie__list.css);
@import url(../blocks/freebie/__item/freebie__item.css);
@import url(../blocks/freebie/__image/freebie__image.css);
@import url(../blocks/freebie/__caption/freebie__caption.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social-icons/footer__social-icons.css);

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 6;
  visibility: hidden;
  display: flex;
  position: fixed;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  pointer-events: auto;
}

.popup__form {
  background-color: #c4c4c4;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
  border-radius: 10px;
  width: 642px;
  position: relative;
  margin: auto;
}

.popup__close {
  background-image: url(../images/close_icon.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  top: -40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  position: absolute;
  cursor: pointer;
  right: -40px;
  padding: 0;
  background-position: center center;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.popup__close:hover {
  opacity: 0.6;
}

.form__header {
  width: 358px;
  margin: 34px auto 54px;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
}

.form__set {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.form__select {
  border: 0;
  width: 538px;
  height: 88px;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  margin-bottom: 31px;
  margin-left: 52px;
  margin: 0 auto 31;
}

.form__input {
  border: 0;
  width: 538px;
  height: 88px;
  background-color: white;
  margin: 0 52px;
  padding: 0;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
}

.form__input-error {
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  width: 358px;
  height: 22px;
  margin: 0 auto -22px;
  padding: 0;
}

.form__input-error_active {
  color: #ff0000;
}

.form__button {
  width: 225px;
  height: 56px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 62px auto 59px;
}

.form__button_disabled {
  opacity: 0.6;
  background-color: #e5e5e5;
  color: black;
  cursor: default;
}

@media screen and (max-width: 1024px) {
  .popup__form {
    width: 350px;
  }

  .form__header {
    font-size: 35px;
    line-height: 45px;
    margin: 30px auto 65px;
    width: fit-content;
  }

  .form__select {
    width: 220px;
    height: 70px;
    font-size: 35px;
    line-height: 50px;
    margin-left: 35px;
  }

  .form__input {
    width: 220px;
    height: 70px;
    font-size: 35px;
    line-height: 50px;
    margin-left: 35px;
  }

  .form__button {
    width: 50%;
  }

  .form__select_option {
    width: 220px;
    font-size: 35px;
    line-height: 50px;
    margin-left: 35px;
  }
}

@media screen and (max-width: 425px) {
  .popup__form {
    width: 280px;
  }

  .form__button {
    width: 50%;
    margin-left: 35px;
  }
}
